    @charset "UTF-8" body {
        background-color: aquamarine;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h1 {
        heightcolor: brown
    }
    
    p {
        text-align: center;
        background-color: blue;
    }