@charset "UTF-8" body {
    background-color: blue;
    color: beige;
}

h1 {
    background-color: rgb(173, 152, 29);
    color: blueviolet;
}

h2 {
    background-color: aquamarine;
    color: black;
}

p {
    color: brown;
}

h3 {
    background-color: t;
}