@charset "UTF-8" body {
    background-color: blue;
    color: beige;
}

h1,
h2,
h 3 {
    background-color: rgba(173, 152, 29, 0.692);
    color: blueviolet;
}


}
p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}