@charset "UTF-8" body {
    background-color: blue;
    color: beige;
}

h1 {
    background-color: gold;
    color: blueviolet;
}

h2 {
    background-color: aquamarine;
    color: black;
}

p {
    color: brown;
}

h